# **assignment03-pie.ipynb**
### A project to display email domains from a csv file in a pie chart
### Author: Paul O'Shaughnessy

In [2]:
# Import Pandas
import pandas as pd

# Import Matplotlib
import matplotlib.pyplot as plt

# Import Numpy
import numpy as np

In [26]:
ppl = pd.read_csv('people-1000.csv')
ppl.head(3)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,8717bbf45cCDbEe,Shelia,Mahoney,Male,pwarner@example.org,857.139.8239,27/01/2014,Probation officer
1,2,3d5AD30A4cD38ed,Jo,Rivers,Female,fergusonkatherine@example.net,-10395,26/07/1931,Dancer
2,3,810Ce0F276Badec,Sheryl,Lowery,Female,fhoward@example.org,(599)782-0605,25/11/2013,Copy

In [29]:
email_new = ppl.Email.str.split(pat='@', expand=True) # https://www.delftstack.com/howto/python-pandas/split-column-in-python-pandas/
print(email_new)

                     0            1
0              pwarner  example.org
1    fergusonkatherine  example.net
2              fhoward  example.org
3            zjohnston  example.com
4                 elin  example.net
..                 ...          ...
995         lyonsdaisy  example.net
996        dariusbryan  example.com
997         georgechan  example.org
998            wanda04  example.net
999        deannablack  example.org

[1000 rows x 2 columns]

In [30]:
ppl[['domain', 'ext']] = email_new[1].str.split('.', expand=True) # https://www.delftstack.com/howto/python-pandas/split-column-in-python-pandas/
ppl.head(3)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,domain,ext
0,1,8717bbf45cCDbEe,Shelia,Mahoney,Male,pwarner@example.org,857.139.8239,27/01/2014,Probation officer,example,org
1,2,3d5AD30A4cD38ed,Jo,Rivers,Female,fergusonkatherine@example.net,-10395,26/07/1931,Dancer,example,net
2,3,810Ce0F276Badec,Sheryl,Lowery,Female,fhoward@example.org,(599)782-0605,25/11/2013,Copy,example,org