# **weather.ipynb**
A program to plot temperature over time from a csv file\
Author: Paul O'Shaughnessy

## **1. Setting up the Data**

#### **1.1 Importing Libraries**

- Pandas is a Python Library used for cleaning, analyzing and manipulating data. More information can be found [here](https://pandas.pydata.org/docs/)
- NumPy is a Python Library for working with arrays, linear algebra, and matrices. More information can be found [here](https://numpy.org/)
- Matplotlib is a comprehensive Python library for creating static, animated, and interactive visualizations in Python. More information can be found [here](https://matplotlib.org/)

In [3]:
# Import Pandas
import pandas as pd

# Import Matplotlib
import matplotlib.pyplot as plt

# Import Numpy
import numpy as np

#### **1.2 Loading the Data**   
- The weatherreadings1 dataset, which is a csv file, is loaded using Pandas *read_csv* functionality.
- The variable *weather* is assigned to the dataset for ease of use when writing Python code.

In [4]:
# Load the weatherreadings1 dataset
weather = pd.read_csv('weatherreadings1.csv')

#### **1.3 List Column Headers**

In [30]:
# Display the column header titles
print(weather.columns)

Index(['siteId', 'reportStartDateTime', 'reportEndDateTime', 'collectionName',
       'isPublic', 'isLatestVersion', 'observationType', 'softwareType',
       'windDirection', 'relativeHumidity', 'windSpeed_MilePerHour',
       'windSpeed_MetrePerSecond', 'dryBulbTemperature_Fahrenheit',
       'dryBulbTemperature_Celsius', 'wetBulbTemperature_Fahrenheit',
       'wetBulbTemperature_Celsius', 'rainfallAmount_Inch',
       'rainfallAmount_Millimetre', 'rainfallRate_InchPerHour',
       'rainfallRate_MillimetrePerHour', 'airPressure_InchOfMercury',
       'airPressure_Hectopascal', 'dewPointTemperature_Fahrenheit',
       'dewPointTemperature_Celsius', 'isOfficial', 'isDcnn', 'longitude',
       'latitude', 'height', 'id', 'localReportEndDateTime', 'externalSiteId',
       'createdDateTime', 'version', 'externalId'],
      dtype='object')

From the list of Column headers above, the required columns to plot the temperature appear to be: 
- 'reportStartDateTime' 
- 'reportEndDateTime' 
- 'dryBulbTemperature_Fahrenheit' 
- 'dryBulbTemperature_Celsius' 
- 'wetBulbTemperature_Fahrenheit' 
- 'wetBulbTemperature_Celsius' 
- 'dewPointTemperature_Fahrenheit' 
- 'dewPointTemperature_Celsius'

#### **1.4 Extract Relevant Columns to View How They Appear**

In [70]:
weather[['reportStartDateTime',
         'reportEndDateTime',
         'dryBulbTemperature_Fahrenheit',
         'dryBulbTemperature_Celsius',
         'wetBulbTemperature_Fahrenheit',
         'wetBulbTemperature_Celsius',
         'dewPointTemperature_Fahrenheit',
         'dewPointTemperature_Celsius']].head(5)

,reportStartDateTime,reportEndDateTime,dryBulbTemperature_Fahrenheit,dryBulbTemperature_Celsius,wetBulbTemperature_Fahrenheit,wetBulbTemperature_Celsius,dewPointTemperature_Fahrenheit,dewPointTemperature_Celsius
0,2024-10-02T16:15:00+00:00,2024-10-02T16:15:00+00:00,60.7,15.944444,54.4,12.444444,51.0,10.555556
1,2024-10-02T16:45:00+00:00,2024-10-02T16:45:00+00:00,60.4,15.777778,54.7,12.611111,51.5,10.833333
2,2024-10-02T17:00:00+00:00,2024-10-02T17:00:00+00:00,59.2,15.111111,53.8,12.111111,50.7,10.388889
3,2024-10-02T17:15:00+00:00,2024-10-02T17:15:00+00:00,57.7,14.277778,52.8,11.555556,49.8,9.888889
4,2024-10-02T17:30:00+00:00,2024-10-02T17:30:00+00:00,56.6,13.666667,52.2,11.222222,49.5,9.722222

#### **1.5 Create New Dataframe with End Date removed (as it's the same as Start Date Time), and Celsius values rounded to 1 (to be in line with Fahrenheit values)**

In [66]:
# Round Celsius values to 1 decimal place
temps = weather.round(
    {'dryBulbTemperature_Celsius':1,
     'wetBulbTemperature_Celsius':1,
     'dewPointTemperature_Celsius':1}
)

In [68]:
# Create new Dataframe with End Date Time removed, and rounded Celsius values
temps[['reportStartDateTime',
       'dryBulbTemperature_Fahrenheit',
       'dryBulbTemperature_Celsius',
       'wetBulbTemperature_Fahrenheit',
       'wetBulbTemperature_Celsius',
       'dewPointTemperature_Fahrenheit',
       'dewPointTemperature_Celsius']].head(5)

,reportStartDateTime,dryBulbTemperature_Fahrenheit,dryBulbTemperature_Celsius,wetBulbTemperature_Fahrenheit,wetBulbTemperature_Celsius,dewPointTemperature_Fahrenheit,dewPointTemperature_Celsius
0,2024-10-02T16:15:00+00:00,60.7,15.9,54.4,12.4,51.0,10.6
1,2024-10-02T16:45:00+00:00,60.4,15.8,54.7,12.6,51.5,10.8
2,2024-10-02T17:00:00+00:00,59.2,15.1,53.8,12.1,50.7,10.4
3,2024-10-02T17:15:00+00:00,57.7,14.3,52.8,11.6,49.8,9.9
4,2024-10-02T17:30:00+00:00,56.6,13.7,52.2,11.2,49.5,9.7