# **Weather.ipynb**
A program to plot "dryBulbTemperature_Celsius" temperature over time from a csv file\
Author: Paul O'Shaughnessy

## **1. Setting up the Data**

#### **1.1 Importing Libraries**

- Pandas is a Python Library used for cleaning, analyzing and manipulating data. More information can be found [here](https://pandas.pydata.org/docs/)
- Matplotlib is a comprehensive Python library for creating static, animated, and interactive visualizations in Python. More information can be found [here](https://matplotlib.org/)

In [3]:
# Import Pandas
import pandas as pd

# Import Matplotlib
import matplotlib.pyplot as plt

#### **1.2 Loading the Data**   
- The weatherreadings1 dataset, which is a csv file, is loaded using Pandas *read_csv* functionality.
- The variable *weather* is assigned to the dataset for ease of use when writing Python code.

In [4]:
# Load the weatherreadings1 dataset
weather = pd.read_csv('weatherreadings1.csv')

#### **1.3 List Column Headers**

In [30]:
# Display the column header titles
print(weather.columns)

Index(['siteId', 'reportStartDateTime', 'reportEndDateTime', 'collectionName',
       'isPublic', 'isLatestVersion', 'observationType', 'softwareType',
       'windDirection', 'relativeHumidity', 'windSpeed_MilePerHour',
       'windSpeed_MetrePerSecond', 'dryBulbTemperature_Fahrenheit',
       'dryBulbTemperature_Celsius', 'wetBulbTemperature_Fahrenheit',
       'wetBulbTemperature_Celsius', 'rainfallAmount_Inch',
       'rainfallAmount_Millimetre', 'rainfallRate_InchPerHour',
       'rainfallRate_MillimetrePerHour', 'airPressure_InchOfMercury',
       'airPressure_Hectopascal', 'dewPointTemperature_Fahrenheit',
       'dewPointTemperature_Celsius', 'isOfficial', 'isDcnn', 'longitude',
       'latitude', 'height', 'id', 'localReportEndDateTime', 'externalSiteId',
       'createdDateTime', 'version', 'externalId'],
      dtype='object')

From the list of Column headers above, the required columns to plot the temperature are: 
- 'reportStartDateTime' 
- 'reportEndDateTime'  
- 'dryBulbTemperature_Celsius'

#### **1.4 Extract Relevant Columns to View How They Appear**

In [71]:
weather[['reportStartDateTime',
         'reportEndDateTime',
         'dryBulbTemperature_Celsius',
]].head(5)

,reportStartDateTime,reportEndDateTime,dryBulbTemperature_Celsius
0,2024-10-02T16:15:00+00:00,2024-10-02T16:15:00+00:00,15.944444
1,2024-10-02T16:45:00+00:00,2024-10-02T16:45:00+00:00,15.777778
2,2024-10-02T17:00:00+00:00,2024-10-02T17:00:00+00:00,15.111111
3,2024-10-02T17:15:00+00:00,2024-10-02T17:15:00+00:00,14.277778
4,2024-10-02T17:30:00+00:00,2024-10-02T17:30:00+00:00,13.666667

#### **1.5 Create New Dataframe with End Date removed (as it's the same as Start Date Time), and Celsius values rounded to 1**

In [72]:
# Round Celsius values to 1 decimal place
temps = weather.round({'dryBulbTemperature_Celsius':1})

In [73]:
# Create new Dataframe with End Date Time removed, and rounded Celsius values
temps[['reportStartDateTime', 'dryBulbTemperature_Celsius',]].head(5)

         reportStartDateTime  dryBulbTemperature_Celsius
0  2024-10-02T16:15:00+00:00                        15.9
1  2024-10-02T16:45:00+00:00                        15.8
2  2024-10-02T17:00:00+00:00                        15.1
3  2024-10-02T17:15:00+00:00                        14.3
4  2024-10-02T17:30:00+00:00                        13.7